@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

/* variables */
/*views*/
#menu {
  height: 0vh;
  width: 100%;
  background: #cba68e;
  color: #fff;
  font-family: "Raleway";
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 5;
}

#menu #menu__close {
  color: #fff;
  padding: 36px 26px;
  font-size: 24px;
  z-index: 5;
  cursor: pointer;
  display: none;
  float: right;
}

#menu #menu__close:hover {
  color: #eee;
}

#menu .menu__list {
  height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  clear: both;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu .menu__list .menu__listItem {
  font-size: 30px;
  padding: 30px 0;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

#menu .menu__list .menu__listItem:hover {
  color: #e0e0e0;
}

.firstView {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 158, 130, 0.5)), to(rgba(193, 158, 130, 0.5))), url("../img/bg1.jpg");
  background: linear-gradient(rgba(193, 158, 130, 0.5), rgba(193, 158, 130, 0.5)), url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Raleway";
  color: #fff;
}

.firstView #firstView__topMenuButton {
  color: #fff;
  padding: 36px 26px;
  font-size: 21px;
  z-index: 5;
  cursor: pointer;
  float: right;
}

.firstView #firstView__topMenuButton:hover {
  color: #eee;
}

.firstView .firstView__top {
  margin: 20px 0 0 20px;
}

.firstView .firstView__top .firstView__logoMainText {
  color: #fff;
}

.firstView .firstView__top .firstView__logoMainText--smaller {
  font-size: 12px;
  font-weight: 400;
}

.firstView .firstView__bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 200px;
  overflow: hidden;
  /* arrow */
}

.firstView .firstView__bottom .firstView__bottomMainText {
  padding: 0 20px;
  font-size: 30px;
}

.firstView .firstView__bottom .firstView__bottomText {
  font-size: 13px;
  padding: 5px 22px 22px 22px;
  font-weight: 300;
}

.firstView .firstView__bottom .firstView__bottomText--lowest {
  padding: 0px 22px 22px 22px;
  font-weight: 700;
}

.firstView .firstView__bottom .firstView__arrowBottom {
  position: absolute;
  bottom: -80px;
  right: -80px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background: #ecd1b3;
}

.firstView .firstView__bottom .firstView__arrowBottom .fa-long-arrow-alt-right {
  padding: 35px 40px;
  font-size: 30px;
}

.secondView {
  width: 100vw;
  height: 100vh;
  background: #c19e82;
  font-family: "Raleway";
  color: #fff;
  /* arrow */
}

.secondView #firstView__topMenuButton {
  color: #fff;
  padding: 36px 26px;
  font-size: 21px;
  z-index: 5;
  cursor: pointer;
  float: right;
}

.secondView #firstView__topMenuButton:hover {
  color: #eee;
}

.secondView .firstView__top {
  margin: 20px 0 0 20px;
}

.secondView .firstView__top .firstView__logoMainText {
  color: #e8cdaf;
}

.secondView .firstView__top .firstView__logoMainText--smaller {
  font-size: 12px;
  font-weight: 400;
}

.secondView .secondView__planText {
  padding: 20px;
}

.secondView .secondView__planText--bottom {
  font-size: 17px;
  padding: 0 0 40px 20px;
  position: absolute;
  bottom: 0;
}

.secondView .secondView__planList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 250px);
}

.secondView .secondView__planList .secondView__planListItem {
  height: calc((100% / 4) - 30px);
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.secondView .secondView__planList .secondView__planListItem--first {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 158, 130, 0.3)), to(rgba(193, 158, 130, 0.3))), url("../img/planList1.jpg");
  background: linear-gradient(rgba(193, 158, 130, 0.3), rgba(193, 158, 130, 0.3)), url("../img/planList1.jpg");
  background-position: center;
  background-size: cover;
}

.secondView .secondView__planList .secondView__planListItem--second {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 158, 130, 0.3)), to(rgba(193, 158, 130, 0.3))), url("../img/planList2.jpg");
  background: linear-gradient(rgba(193, 158, 130, 0.3), rgba(193, 158, 130, 0.3)), url("../img/planList2.jpg");
  background-position: center;
  background-size: cover;
}

.secondView .secondView__planList .secondView__planListItem--third {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 158, 130, 0.3)), to(rgba(193, 158, 130, 0.3))), url("../img/planList3.jpg");
  background: linear-gradient(rgba(193, 158, 130, 0.3), rgba(193, 158, 130, 0.3)), url("../img/planList3.jpg");
  background-position: center;
  background-size: cover;
}

.secondView .secondView__planList .secondView__planListItem--fourth {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 158, 130, 0.3)), to(rgba(193, 158, 130, 0.3))), url("../img/planList4.jpg");
  background: linear-gradient(rgba(193, 158, 130, 0.3), rgba(193, 158, 130, 0.3)), url("../img/planList4.jpg");
  background-position: center;
  background-size: cover;
}

.secondView .secondView__planList .secondView__planListItem .secondView__itemText {
  font-size: 20px;
}

.secondView .secondView__planList .secondView__planListItem .secondView__itemTextPrice {
  font-size: 30px;
}

.secondView .firstView__arrowBottom {
  position: absolute;
  bottom: -80px;
  right: -80px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background: #ecd1b3;
}

.secondView .firstView__arrowBottom .fa-long-arrow-alt-right {
  padding: 35px 40px;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */